.perspective {
  perspective: 1000px;
}

.preserve3D {
  transition: transform 0.7s;
  transform-style: preserve-3d;
}

.flip180 {
  transform: rotateY(180deg);
}

.backface-hidden {
  backface-visibility: hidden;
}